.bg-green {
    background: #128a43;
}

.bg-yellow {
    background: #f4bf22;
}

.btn-yellow {
    background: #f4bf22;
    color: #fff;
}

.btn-yellow:hover {
    background: #f5c534;
    color: #fff;
}

.btn-green {
    background: #128a43;
    color: #fff;
}

.btn-green:hover {
    background: #1d9b51;
    color: #fff;
}

.border-yellow {
    border-color: #f4bf22 !important;
}

.border-green {
    border-color: #128a43 !important;
}

.text-green {
    color: #128a43;
}

.text-yellow {
    color: #f4bf22;
}

.border-3 {
    border-width: 3px !important;
}

.border-5 {
    border-width: 5px !important;
}

.height-150 {
    height: 150px !important;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.tin-tuc img{
    max-width: 1000px;
}