html {
  scroll-behavior: smooth;
}

#app {
  background: #ededed;
}

.logo {
  height: 50px;
  padding: 5px 0;
}

#header.navbar {
  padding: 0 16px;
  background: #f4bf22;
}
#header .navbar-brand {
  padding: 0 17px;
  background: #fff;
}
#header .navbar__form-search {
  width: 450px;
}
#header .navbar__form-search > input {
  width: 330px !important;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#header .navbar__form-search__button {
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#navbar {
  padding: 0 16px;
}
#navbar .active {
  background: #5bc082;
}
#navbar span.nav-link {
  cursor: pointer;
}
#navbar .nav-link {
  color: #fff;
}
#navbar .nav-link:hover {
  background: #5bc082;
  color: #fff !important;
}
#navbar .nav-link:hover .active {
  background: #5bc082;
}
#navbar .dropdown .dropdown-menu {
  min-width: 100px;
  padding: 0;
  top: 38px;
  left: unset;
  border-radius: 0;
}
#navbar .dropdown:hover {
  background: #5bc082;
  color: #fff;
}
#navbar .dropdown:hover > .dropdown-menu {
  display: block;
}
#navbar .dropdown .dropdown-divider {
  margin: 0;
}
#navbar .dropdown .dropdown-submenu {
  position: relative;
  top: 0;
}
#navbar .dropdown .dropdown-submenu > .dropdown-menu {
  top: -3px;
  left: 100%;
  border-radius: 0;
}
#navbar .dropdown .dropdown-submenu:hover {
  background: #5bc082;
}
#navbar .dropdown .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#nganh-dao-tao .card .card-text {
  display: none;
}
#nganh-dao-tao .card .card-img-overlay .card-subtext {
  display: none;
  background: #E6AF2E;
  font-weight: 600;
}
#nganh-dao-tao .card:hover .card-img-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.4);
}
#nganh-dao-tao .card:hover .card-text,
#nganh-dao-tao .card:hover .card-subtext {
  color: #fff;
  display: block;
}

.feature-item {
  text-decoration: none !important;
}
.feature-item:nth-of-type(odd) {
  color: #000;
}
.feature-item:nth-of-type(even) {
  color: #fff;
}

.hover-green:hover {
  background: #5bc082 !important;
  color: #fff !important;
}

.hover-white:hover {
  color: #fff !important;
}

.hover-green:hover .hover-white {
  color: #FFF !important;
}

.svg {
  fill: white;
}

.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #128a43;
  border-left: 1px solid #f5f5f5;
}

#accordion .card .card-header {
  cursor: pointer;
}

.benefit-bg {
  background-image: url("../images/benefit-bg.png");
  background-size: cover;
}

.register-bg {
  background-image: url("../images/register-bg.jpg");
  background-size: cover;
}

.list-group .active {
  background: #f4bf22;
}