html {
  scroll-behavior: smooth;
}

#app {
  background: #ededed;
}

.logo {
  height: 50px;
  padding: 5px 0;
}

#header.navbar {
  padding: 0 16px;
  background: #f4bf22;
}
#header .navbar-brand {
  padding: 0 17px;
  background: #fff;
}
#header .navbar__form-search {
  width: 450px;
}
#header .navbar__form-search > input {
  width: 330px !important;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#header .navbar__form-search__button {
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#navbar {
  padding: 0 16px;
}
#navbar .active {
  background: #5bc082;
}
#navbar span.nav-link {
  cursor: pointer;
}
#navbar .nav-link {
  color: #fff;
}
#navbar .nav-link:hover {
  background: #5bc082;
  color: #fff !important;
}
#navbar .nav-link:hover .active {
  background: #5bc082;
}

.dropdown .dropdown-menu {
  min-width: 100px;
  padding: 0;
  top: 38px;
  left: unset;
  border-radius: 0;
}
.dropdown:hover {
  background: #5bc082;
  color: #fff;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown .dropdown-divider {
  margin: 0;
}
.dropdown .dropdown-submenu {
  position: relative;
  top: 0;
}
.dropdown .dropdown-submenu > .dropdown-menu {
  top: -3px;
  left: 100%;
  border-radius: 0;
}
.dropdown .dropdown-submenu:hover {
  background: #5bc082;
}
.dropdown .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#nganh-dao-tao .card .card-text {
  display: none;
}
#nganh-dao-tao .card .card-img-overlay .card-subtext {
  display: none;
  background: #E6AF2E;
  font-weight: 600;
}
#nganh-dao-tao .card:hover .card-img-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.4);
}
#nganh-dao-tao .card:hover .card-text,
#nganh-dao-tao .card:hover .card-subtext {
  color: #fff;
  display: block;
}

.feature-item {
  text-decoration: none !important;
}
.feature-item:nth-of-type(odd) {
  color: #000;
}
.feature-item:nth-of-type(even) {
  color: #fff;
}

.hover-green:hover {
  background: #5bc082 !important;
  color: #fff !important;
}

.hover-white:hover {
  color: #fff !important;
}

.hover-green:hover .hover-white {
  color: #FFF !important;
}

.svg {
  fill: white;
}

.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #128a43;
  border-left: 1px solid #f5f5f5;
}

#accordion .card .card-header {
  cursor: pointer;
}
.bg-green {
  background: #128a43;
}

.bg-yellow {
  background: #f4bf22;
}

.border-yellow {
  border: 5px solid #f4bf22 !important;
  height: 215px;
}

.border-green {
  border: 5px solid #128a43 !important;
  height: 215px;
}

.text-green {
  color: #128a43;
}

.benefit-bg {
  background-image: url("../images/benefit-bg.png");
  background-size: cover;
}

.border-warning {
  height: 215px;
  border: 4px solid;
}

.uudai {
  text-align: center;
  color: white;
  margin-top: 15px;
}

.uudai h2 {
  font-size: 20px;
  margin-top: 10px;
  text-align: left;
  margin-left: 30px;
  color: #fbff07;
}

.dongke {
  width: 400px;
  border-top: 5px solid white;
  margin-top: 20px;
}

.border-success {
  height: 215px;
  border: 4px solid;
}

.chungchi {
  text-align: center;
  margin-top: 15px;
}

.chungchi h3 {
  font-weight: bold;
  font-size: 32px;
  padding-top: 15px;
}

.dangky {
  width: 270px;
  text-align: center;
  height: 65px;
  font-size: 32px;
  margin: auto;
  padding-top: 15px;
  font-weight: bold;
  text-decoration: underline;
}

.border-danger {
  background: white;
}

.register-bg {
  background-image: url("../images/register-bg.jpg");
  background-size: cover;
}

.btn-warning {
  color: #fff;
  background-color: #ffc107;
  border-color: #128a43;
  font-weight: bold;
  border: 4px solid #128a43;
}

.dangky a:hover {
  background-color: #128a43;
  color: #fff;
}